:root {
	/* Colors */
	--teal1: #1ABC9C;
	--teal2: #169E83;
	--teal3: #24574D;
	--grey1: #242424;
	--grey2: #888888;
}

html * {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	font-family: "Candara";
	font-style: sans-serif;
	background-color: var(--grey1);
	  
	/*firefox only */
	scrollbar-color: var(--teal3) transparent;
	scrollbar-width: thin;
}

h1 {
	color: black;
	font-size: 200%;
	float: top;
}

img.logo {
	height: 90%;
	float: left;
}

p.copy {
	color: var(--grey2);
	font-size: 80%;
	font-family: 'Courier New';
	text-align: center;
}

.button {
	background-color: var(--teal1);
	color: black;
	border: none;
	float: left;
	height: 100%;
	width: 20%;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	transition-duration: 0.5s;
	cursor: pointer;
}

.bmenu:hover {
	color: black;
	background-color: var(--teal2);
	border-bottom: 5px solid black;
}

.set {
	border-bottom: 5px solid black;
}

a, a:visited {
	color: var(--teal1);
}

a:hover {
	color: black;
	background-color: var(--teal1);
}

#page {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: block;
}

#header-out {
	position: absolute;
	background: var(--teal1);
	width: 100%;
	height: 5%;
	top: 0%;
	overflow: block;
}

@media screen and (max-width: 800px) {
	#header-in {
		position: absolute;
		text-align: left;
		width: 90%;
		height: 100%;
		left: 5%;
		top: 0%;
		overflow: block;
	}

	#main-home, #main1, #main2, #main3 {
		position: absolute;
		width: 90%;
		height: 90%;
		left: 5%;
		bottom: 2%;
		overflow: scroll;
		display: none;
	}

	#side {
		display: none;
	}
}

@media screen and (min-width: 800px) {
	#header-in {
		position: absolute;
		text-align: left;
		width: 60%;
		height: 100%;
		left: 20%;
		top: 0%;
		overflow: block;
	}

	#main-home, #main1, #main2, #main3 {
		position: absolute;
		width: 60%;
		height: 90%;
		left: 20%;
		bottom: 2%;
		overflow: scroll;
		display: none;
	}

	#side {
		position: absolute;
		width: 15%;
		height: 90%;
		bottom: 2%;
		right: 2%;
		overflow: auto;
	}
}

#main-home {
	display: block;
}

#menu-home, #menu1, #menu2, #menu3 {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0%;
	top: 0%;
	overflow: block;
	display: none;
}

#menu-home {
	display: block;
}

#footer {
	position: relative;
	width: 100%;
	height: 2%;
	bottom: 0%;
	overflow: block;
}

/* Scrollbar width */
::-webkit-scrollbar {
	width: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
	background: var(--teal3);
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--teal2); 
}
